.Weather {
  border: 2px solid #f76b8a;
  font-family: "Lato", sans-serif;
  padding: 30px;
  max-width: 700px;
  border-radius: 50px;
  color: #000000;
  background-color: #ffffff;
  box-shadow: 8px 8px 7px #c3195d, -8px -8px 7px #f76b8a;
}

.Weather h1 {
  font-size: 45px;
  font-weight: bold;
  margin: 20px 0 15 0;
  line-height: 29px;
  color: #f70776;
}

.Weather ul {
  margin: 0;
  padding: 0;
}

.Weather li {
  font-size: 16px;
  font-weight: 100;
  line-height: 18px;
  list-style: none;
}

.Weather .temperature {
  font-weight: bold;
  color: #f70776;
  font-size: 70px;
  font-weight: 400;
  line-height: 30px;
}

.Weather img {
  height: 64px;
  width: 64px;
  margin-right: 20px;
  display: inline-block;
}

.Weather .unit {
  font-size: 30px;
  color: #f70776;
  font-weight: 400;
  position: relative;
  top: -30px;
}

.Weather .btn {
  background: #f70776;
  border: none;
  font-weight: bold;
  color: #fff;
}

.Weather hr {
  margin: 20px;
  color: #f70776;
}
